<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<style>
		body {
			background-color: #eeeeee;
		}

		.client {
			background-color: #eeeeee;
		}

		input:invalid,
		textarea:invalid {
			background-color: #ffffff;
		}
	</style>

	<link
		rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous"
	/>
	<script
		type="text/javascript"
		src="https://download.playfab.com/PlayFabClientApi.js"
	></script>
	<!-- 
      title:{{site.title}}
      url:{{site.url}}
      server-url:{{site.server-url}}
  
  -->

	<script>
		var SERVER_URL="{{site.server-url}}";
	</script>

	<title>Private Box</title>
</head>
